body {
	background: black;
}

label {
	color: whitesmoke;
}

input {
	color: whitesmoke;
}

p.titulos {
	color: red;
	text-align: center;
	font-style: italic;
}

button {
	background-color: red;
	border-color: whitesmoke;
	color: white;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

div.right {
	text-align: right;
}

.dropdown .btn:hover {
	background: red;
	 color:#000;
	}
.dropdown .dropdown-menu a{
	background: red;
	 color: black;
	}
.dropdown .btn {
	background: red;
	 color: black;
	  border: whitesmoke;
	}
.dropdown .btn:active {
	background: red;
	 color: red;
	}
.dropdown .btn:focus {
	background: red;
	 color:black;
	}