body {
	background: black;
}

label {
	color: whitesmoke;
}

input {
	color: whitesmoke;
}

p.titulos {
	color: red;
	text-align: center;
	font-style: Arial;
}

p.titulos_left {
    color: red;
    text-align: left;
    font-style: Arial;
}

p.titulos_div{
    color: gray;
    text-align: center;
    vertical-align: middle;
}

p.text_div{
    color: white;
    text-align: center;
    vertical-align: middle;
}

p.titulos_header_logo{
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 17pt;
}

p.titulos_footer_nav{
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 12pt;
}

p.titulos_footer_logo{
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 20pt;
}

p.footer_text{
    color: gray;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
}

/*button {
	background-color: red;
	border-color: whitesmoke;
	color: white;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}*/

/*div.right {
	text-align: right;
}
*/

.dropdown .btn:hover {
	background: red;
	color:red;
}
.dropdown .dropdown-menu a{
	background: red;
	color: black;
}
.dropdown .btn {
	background: red;
	color: black;
	border: red;
}
.dropdown .btn:active {
	background: red;
	color: red;
}
.dropdown .btn:focus {
	background: red;
	color:black;
}

div.footer_logo_container{
    text-align: center;
}

div.main_container {
    display: grid;
    grid-template-columns: 300px 613px 350px;
    grid-template-rows: auto;
}

div.left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1
    grid-row-end: 1;
    text-align: center;
}

div.center {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.icon_container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

div.icon_left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1
    grid-row-end: 1;
    text-align: center;
}

div.icon_center-left {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.icon_center {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.icon_center_right {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.icon_right {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.footer_container {
    display: grid;
    grid-template-columns: 250px 180px 50px 150px 200px 200px;
    grid-template-rows: 120px;
}

div.footer_left_left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1
    grid-row-end: 1;
    text-align: center;
}

div.footer_left {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1
    grid-row-end: 1;
    text-align: center;
}

div.footer_center-left {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.footer_center {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.footer_center_right {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.footer_right {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.header_logo_container {
    display: grid;
    grid-template-columns: 100px 90px;
    grid-template-rows: 60px;
}

div.header_logo_left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

div.header_logo_right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 3px 2px 6px #000000;
    box-shadow: 4px 5px 8px red;
    padding: 30px 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: 2px double #FFFFFF;
    background: #696969;
    background: linear-gradient(top,  red,  rgb(0, 0, 0));
    background: -ms-linear-gradient(top,  red,  black);
    background: -webkit-gradient(linear, left top, left bottom, from(red), to(black));
    background: -moz-linear-gradient(top,  #99172D,  #FFF7F7);
    }
button:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(top,  #3B393A,  #EEE7E7);
    background: -ms-linear-gradient(top,  #3B393A,  #EEE7E7);
    background: -webkit-gradient(linear, left top, left bottom, from(#3B393A), to(#EEE7E7));
    background: -moz-linear-gradient(top,  #3B393A,  #EEE7E7);
}

